/*!* mask: *!*/
/*background: #1D1D26;*/
/*!* img: *!*/
/*opacity: 0.3;*/

/*!* Forgot Password: *!*/
/*opacity: 0.5;*/
/*font-family: Avenir-Book;*/
/*font-size: 26px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 0px;*/
/*line-height: 26px;*/
/*!* bg: *!*/
/*background: #8C88FF;*/

/*!* Continue: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 30px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 0px;*/
/*line-height: 30px;*/
/*!* line: *!*/
/*opacity: 0.1;*/
/*border: 2px solid #FFFFFF;*/

/*!* Password: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 28px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 0.5px;*/
/*line-height: 28px;*/
/*!* shape: *!*/
/*border: 2px solid #FFFFFF;*/
/*border-radius: 4px;*/
/*!* oval: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* line: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* shape: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* bounds: *!*/
/*!* line: *!*/
/*opacity: 0.1;*/
/*border: 2px solid #FFFFFF;*/

/*!* Username: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 28px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 0.5px;*/
/*line-height: 28px;*/
/*!* oval: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* shape: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* Path: *!*/
/*border: 2px solid #FFFFFF;*/
/*!* bounds: *!*/
/*!* overlay: *!*/
/*opacity: 0.1;*/
/*background: #FFFFFF;*/

/*!* SIGN UP: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 22px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 2px;*/
/*line-height: 22px;*/
/*!* active: *!*/
/*border: 6px solid #8C88FF;*/

/*!* SIGN IN: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 22px;*/
/*color: #FFFFFF;*/
/*letter-spacing: 2px;*/
/*line-height: 22px;*/
/*!* oval: *!*/
/*background: #FFFFFF;*/
/*!* rectangle: *!*/
/*background: #8C88FF;*/
/*background-image: linear-gradient(-134deg, rgba(255,255,255,0.00) 0%, rgba(0,0,0,0.50) 76%);*/
/*border-radius: 4px;*/
/*!* rectangle: *!*/
/*background: #8C88FF;*/
/*border-radius: 4px 4px 0px 4px;*/